BEGIN;
--
-- Create model OrmQ
--
CREATE TABLE "django_q_ormq" ("id" integer NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "key" varchar(100) NOT NULL, "payload" text NOT NULL, "lock" timestamp with time zone NULL);
COMMIT;
